
#map{
width:100%;
height:900px;
border:1px solid #000000;

}

.info
{
width:250px;  
height:120px;
  
}

.menu-item{
 background-color:#f5f5f5;
 border-bottom:1px solid #999999;
 padding-left:10px;
 padding-right:10px;
 width:100%;
 padding-top:5px;
 padding-bottom:5px;

}

#menu-header{
  margin-left:0px;
  float:left;
  border-radius: 5px 5px 0 0;
  border:1px solid #c1c1c1;
  width:100%;
  padding:9px;
  cursor: pointer;
  font-weight:bold;
  
}

.menu-item:hover{
  background-color: purple;
  color: white;
  cursor:pointer;
  
}

#sidebar
{
 margin-top:5px;
 width:100%;
 float:left;
 margin-left:0px;
 background-color:white;
 padding:10px;
 border:1px solid #999999;
 display:none;

}

